<br><br><br><br><br>
<div class="container">
    <h1>문의사항</h1>
    
    <% if user_signed_in? %>
      <a href=<%= new_question_path %> class="btn btn-warning" style="float: right;">글쓰기</a><br>
    <% else %>    
      <p style="float: right;">*문의사항은 로그인 후에 이용가능합니다.</p><br>
    <% end %>
    <br>
        
    <div class="table-responsive">
      <table class="table table-fit">
        <thead>
          <tr>
            <th>title</th>
            <th>user</th>
          </tr>
        </thead>
        <tbody>
          <% @questions.each do |p| %>
            <tr>
              <td><%= link_to p.questionTitle, p %></td>
              <td><%#= p.user.nickname %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
</div>