<div class="container">
    <h1>Event</h1> <a href="<%= events_path %>" style="float: right; font-size: 1.3em;">More</a>
    <!--<div class="row" style="z-index: 1;">-->
    <% @events.sample(2).each do |k| %>
        <% k.event_attachments.limit(1).each do |p| %>
            <div class="section-cast col-xs-6 col-sm-6 col-md-6 col-lg-6">
                <div class="card ">
                  <img class="img-responsive" src="<%= image_url p.upevent.thumb2.url%>" alt="Card image">
                  <%#= link_to image_tag(k.club_image_url.url), club_path(k.id), class: 'card-img-responsive' %>
                  <a href="<%= event_path(k.id) %>">
                  <div class="card-img-overlay card-img-back">
                    <h4 class="card-title-back"><%= k.eventTitle %></h4>
                    <!--<p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>-->
                    <!--<p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>-->
                  </div>
                  </a>
                </div>
            </div>
        <% end %>
    <% end %>
</div>
