<div class="navbar navbar-fixed-top ">
  <div class="container">
    <h1 id="">Activity Search</h1>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <!--<li><a href="/">Home</a></li>-->
        <li>Home   </li>
        <li>New Memo</li>
        <li><a href="/users/sign_in">로그인</a></li>
     </ul>
    </nav>
  </div>
</div>