<!--<header>-->
    <%= render 'home/slideshow' %>
<!--</header>-->

<hr>
<div class="container">
    <!-- 지도 섹션-->
    <section id="activity">
        <%= render 'home/activity' %>
    </section>
    
    <!-- 이벤트 섹션-->
    <section id="event">
        <hr>
        여러가지 이벤트
    </section>
    
    <!-- 소모임(고객참여게시판) 섹션-->
    <section id="client">
        <hr>
        고객이 직접 Activity를 추가할 수 있습니다.<br>
        <a href="#">추가하러가기</a>
    </section>
    
    <!-- 이벤트 게시판 -->
    <section id="event">
        <hr>
        다양한 event를 찾아보세요~!.<br>
        <a href="#">보러가기</a>
    </section>
    
    <!-- 캐스트 섹션 -->
    <section id="cast">
        <!--<hr>-->
        <!--<h1>Cast</h1><br>-->
        <!--<div class="row" style="z-index: 1;">-->
        <!--    <%# @casts.sample(4).each do |k| %>-->
        <!--        <div class="section-cast col-xs-6 col-sm-6 col-md-3 col-lg-3">-->
        <!--            <div class="card" >-->
        <!--                <%#= link_to image_tag(k.cast_image_url.thumb.url), cast_path(k.id), class: 'cast_each' %>-->
        <!--                <div class="card-block">-->
        <!--                  <h4 class="card-title"><%#= k.castTitle %></h4>-->
        <!--                  <p class="card-text"><%#= k.castContent %></p>-->
        <!--                </div>-->
        <!--            </div>-->
        <!--        </div>-->
        <!--    <%# end %>-->
        <!--</div>-->
        <!--<br>-->
        <!--<%#= link_to 'More casts', '/casts', :style => 'float: right; font-size: 1.1em;'%><br>-->
 
    </section>
</div>

<!-- likelion -->
<footer>
    <hr>
    <h3>Made by Gil-hyeon & Sang-min</h3>
    <p>Copyright &copy; Likelion 2017</p>
</footer>

