@import "bootstrap-sprockets";
@import "bootstrap";
@import url(https://fonts.googleapis.com/earlyaccess/notosanskr.css);
// @import url(https://fonts.googleapis.com/earlyaccess/hanna.css);
@import url(//fonts.googleapis.com/earlyaccess/hanna.css);
// 슬라이드 쇼 - https://v4-alpha.getbootstrap.com/components/carousel/

// @font-face{font-family:'Nanum Gothic'; src:url('/fonts/NanumGothic.woff')}
// @font-face{font-family:'Nanum Gothic'; src:url('/fonts/NanumGothic.eot')}
 
// body, table, div, p {font-family:'Nanum Gothic';}




.navbar-default {
    font-family: 'Concert One' , cursive;
    background-color: transparent;
    border: transparent;
    color: white;

}

.navbar-default .navbar-brand {
  color: #00bcf2;
}

.navbar-default .navbar-header .navbar-brand:hover,
.navbar-default .navbar-header .navbar-brand:focus {
    // color: white;
    color: #006bf7;
  }

.navbar-default .navbar-nav > li > a {
    background-color: transparent;
    color: #00bcf2;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle {
    color: #00bcf2;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    color: #006bf7;
}

.navbar-default .nav > li > a,
.navbar-default .nav > li > a:focus {
    // color: rgba(255, 255, 255, 0.5);
    color: #00bcf2;
}

.navbar-default .nav > li > a:hover,
.navbar-default .nav > li > a:focus:hover {
    // color: white;
    color: #006bf7;
}
  
.navbar-default.affix {
    background-color: #fff;
    border-color: rgba(34, 34, 34, 0.1);
}
  
.navbar-default.affix .navbar-header .navbar-brand {
    color: #00bcf2;
}

.navbar-default.affix .navbar-header .navbar-brand:hover,
.navbar-default.affix .navbar-header .navbar-brand:focus {
    color: #006bf7;
}

.navbar-default.affix .navbar-toggle, .navbar-default.affix .navbar-toggle:hover{
    color: #00bcf2 ;
}



.navbar-default.affix .nav > li > a,
.navbar-default.affix .nav > li > a:focus {
    // color: rgba(255, 255, 255, 0.5);
    color: #00bcf2;
}

.navbar-default .nav > li > a:hover,
.navbar-default .nav > li > a:focus:hover {
    // color: white;
    color: #006bf7;
}
// ---
@media (min-width: 768px) {
  .navbar-default {
    background-color: transparent;
    border-color: transparent;
  }
  .navbar-default .navbar-header .navbar-brand {
    // color: rgba(255, 255, 255, 0.8);
    color: #00bcf2;
  }
  .navbar-default .navbar-header .navbar-brand:hover,
  .navbar-default .navbar-header .navbar-brand:focus {
    // color: white;
    color: #006bf7;
  }
  .navbar-default .nav > li > a,
  .navbar-default .nav > li > a:focus {
    // color: rgba(255, 255, 255, 0.5);
    color: #00bcf2;
  }
  .navbar-default .nav > li > a:hover,
  .navbar-default .nav > li > a:focus:hover {
    // color: white;
    color: #006bf7;
  }
  .navbar-default.affix {
    background-color: #fff;
    border-color: rgba(34, 34, 34, 0.1);
  }
  .navbar-default.affix .navbar-header .navbar-brand {
    color: #00bcf2;
  }
  .navbar-default.affix .navbar-header .navbar-brand:hover,
  .navbar-default.affix .navbar-header .navbar-brand:focus {
    color: #006bf7;
  }
  .navbar-default.affix .nav > li > a,
  .navbar-default.affix .nav > li > a:focus {
    color: #00bcf2;
  }
  .navbar-default.affix .nav > li > a:hover,
  .navbar-default.affix .nav > li > a:focus:hover {
    color: #006bf7;
  }
}

.main_header{
  background-color: #F5FEFF;
}

// header {
//     background-color: #F5FEFF;
//     top: -50px;
//     height: 900px;
//     font-family: 'Hanna', serif;
//     // background-image: url("background_yoga1.jpg");
//     // background-size: cover;
//     background-repeat: no-repeat;
//     // background-position: bottom; 
//     padding-bottom: 200px;
// }

// header h2, header p {
//     color: white;
// }

// header h3,header h5 {
//     color: white;
// }

// header img {
//     margin: 0px 0px;
// }

.slideshow_width {
  position: relative !important;
  width: 100% !important;
  
}


#logo {
  float: left;
  margin-right: 10px;
  font-size: 3em;
  // color: #fff;
  // text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  &:hover {
    // color: #a5a5a4;
    text-decoration: none;
  }
}

.w3-animate-fading{
  animation:fading 7s infinite
}
  
@keyframes fading {
  0%{opacity: 0.3}15%{opacity: 0.99}80%{opacity: 0.99}100%{opacity: 0.1}
}

.w3-animate-top{position:relative;animation:animatetop 3s}@keyframes animatetop{from{top:-400px;opacity:0.1} to{top:0;opacity:1}}
.w3-animate-left{position:relative;animation:animateleft 3s}@keyframes animateleft{from{left:-400px;opacity:0.1} to{left:0;opacity:1}}
.w3-animate-right {position:relative;animation:animateright 3s}@keyframes animateright{from{right:-400px;opacity:0.1} to{right:0;opacity:1}}
.w3-animate-bottom{position:relative;animation:animatebottom 3s}@keyframes animatebottom{from{bottom:-400px;opacity:0.1} to{bottom:0;opacity:1}}

.w3-content .w3-section img {
  position: relative;
  // z-index: -1;
}

.over_slideshow {
  font-family: 'Hanna', sans-serif;
  background-color: rgba(0, 0, 0, 0.1);
  border-spacing: 10px 50px;
  border: 2px solid transparent;
  border-radius: 10px;
  color: white;
  position: relative;
  // z-index: 0;
  opacity: 1;
}


// #header_add {
    
//     font-size: 1.5em;
//     margin-top: 9px;
//     color: white;
//     &:hover {
//     color: #a5a5a4;
//     text-decoration: none;
//   }
// }

// section {
//     padding: 60px;
//     margin: 0;
// }

.btn-primary{
  border-color: #00bcf2;
  background-color:  #00bcf2;
}
//-------------------clubs ---------------------
#upclub {
    padding-top: 20px;
    
    font-family: 'Hanna', sans-serif;
    border-top: solid;
    border-top-color: #7b8082;
    // border-bottom: solid;
    // border-bottom-color: #7b8082;
    border-right: transparent;
    border-left: transparent;
}

#upclub h1 {
    font-family: 'Concert One', cursive;
    text-align: center;
    
}



//------------------- events ------------------------
#upevent {
    padding-top: 20px;
    font-family: 'Hanna', sans-serif;
    border-top: solid;
    border-top-color: #7b8082;
    // border-bottom: solid;
    // border-bottom-color: #7b8082;
    border-right: transparent;
    border-left: transparent;
}

#upevent h1 {
    text-align: center;
    font-family: 'Concert One', cursive;
}

#upevent .card img{
  position: relative;
  width: 100%;
  padding: 0px;
  z-index: 1;
}


// .event_each {
//     margin: 50px;
// }

.event-body {
  background-color: #f9f9f9;
  padding-top: 70px;
}

.event-body h1, .event-body h5, .event-body h2 .event-body p{
  font-family: 'Hanna', serif;
  text-align: center;
  color: black;
}

.event-body .card{
  width: 100%;
  padding: 5px;
  border-style: solid;
  border-color: #d8d8d8;
  text-align: center;
}

.event-body .card img {
  width: 100%;
}

.event-show {
  margin: auto;
  text-align: center;
}

// ------- section cast에 해당하는 css ------------------
#upcast {
    padding-top: 20px;
    font-family: 'Hanna', serif;
    background-color: white;
    border-top: solid;
    border-top-color: #7b8082;
    // border-bottom: solid;
    // border-bottom-color: #7b8082;
    border-right: transparent;
    border-left: transparent;
}

#upcast h1 {
  font-family: 'Concert One', cursive;
    text-align: center;
}

#upcast .card img{
  position: relative;
  width: 100%;
  padding: 0px;
  z-index: 1;
}


// .cast_each {
//     margin: 50px;
// }

.cast-body {
  background-color: #f9f9f9;
  padding-top: 70px;
}

.cast-body h1, .cast-body h5, .cast-body h2 .cast-body p{
  font-family: 'Hanna', serif;
  text-align: center;
  color: black;
}

.cast-body .card{
  width: 100%;
  padding: 5px;
  border-style: solid;
  border-color: #d8d8d8;
  text-align: center;
}

.cast-body .card img {
  width: 100%;
}

.cast-show {
  margin: auto;
  text-align: center;
}

//--------------club 페이지 css--------------

.club-body img {
  width: 100%;
}


// ----- Footer 해당 css ---------------------------------------------------
footer {
    text-align: center;
    height: 100px;
    font-size: 15px;
}

footer h3{
    font-family: 'Indie Flower', cursive;
    
    color: #000000;
}

footer p{
    color: red;
}

//gps image
.gpsImg {
  width: 40px;
  margin: 5px; 
  border: groove;
  cursor: pointer;
}

//info image
.iw_inner {
  padding: 10px;
  text-align: center;
}
