<!DOCTYPE html>
<html>
<head>
  <title>Workspace</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script type="text/javascript" src="https://openapi.map.naver.com/openapi/v3/maps.js?clientId=Ui6rfXo1VGFEiHkcVDDa&callback=initMap"></script>
</head>
<body>

<%= yield %>

</body>
</html>
